:root {
  --yellow: #FFBA3E;
  --black: #0A2339;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Manrope' !important;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
}

.vertical-line {
  position: relative;
}

.vertical-line::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
  transform: translateX(-50%);
}

.vertical-line::after {
  content: "";
  position: absolute;
  right: 0%;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #000;
  transform: translateX(-50%);
}

header .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

header .nav-link.active {
  color: var(--yellow) !important;
}

header .nav-link:hover {
  color: var(--yellow) !important;
}

h1 {
  color: var(--black);
  font-size: 2.875em;
  font-weight: 800;
  text-transform: uppercase;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h2 {
  font-size: 3em;
  font-weight: 800;
  color: var(--black);
}

h3 {
  font-weight: 800;
  font-size: 1.25em;
}

h4 {
  font-weight: 800;
  font-size: 1.625em;
}

p {
  color: var(--black);
  font-weight: 500;
}

label {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
}

.product-modal-title {
  border-bottom: 2px solid #dee2e6;
}

.number {
  font-size: 3.8em;
  font-weight: 800;
}

.number-sub {
  font-size: 0.8em;
  font-weight: 500;
}

.contact-btn {
  background-color: var(--yellow);
  padding: 1em;
  border: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.submit-btn {
  background-color: var(--yellow);
  padding: 1em;
  border: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.catalog-btn {
  background-color: var(--black);
  padding: 1em;
  border: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  color: white;
  font-weight: 600;
  width: 80%;
}

.product-btn {
  background-color: var(--black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0px;
  font-weight: 600;
  --bs-btn-padding-x: 0.75em;
  --bs-btn-padding-y: 0.375em;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}

.contact-btn:hover .fa-arrow-alt-circle-right {
  transform: translateX(5px);
  transition: 0.4s ease-in-out;
}

.submit-btn:hover i {
  transform: translate3d(10px, -10px, 10px);
  transition: 0.4s ease-in-out;
}

.brd-right {
  border-right: solid 1px black;
}

.brd-left {
  border-left: solid 1px black;
}


.brd-bottom {
  border-bottom: solid 1px black;
}

.brd-top {
  border-top: solid 1px black;
}

.fa-paper-plane,
.fa-file-download,
.fa-arrow-alt-circle-right {
  margin-left: 15px;
  transition: 0.4s ease-in-out;
}


.products .slick-slide {
  border-top: 1px solid;
  border-right: 1px solid;
  padding: 1.5em;

}

.products .slick-slide img {
  width: 100%;
}

footer {
  background-color: var(--black);
  color: white;
}
.footer-links a{
color: white;
text-decoration:none;
}
.footer-links a:hover {
  text-decoration:underline;
}
small, .small {
  font-size: 0.5em;
}
.gradient-section {
  background: rgb(229, 160, 0);
  background: linear-gradient(90deg, rgba(229, 160, 0, 1) 0%, rgba(255, 241, 194, 1) 100%);
}

.sqr-num {
  padding: 30px;
  border: 2px solid;
  font-size: 2.5em;
  font-weight: 800;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-dialog {
  max-width: 50%;
}

.modal-header {
  border-bottom: 0 !important;
}

.form-control {
  background-color: #9EA7A557;
  border-radius: 0;
  padding: 1em;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--yellow);
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: var(--black);
}

.arrow-l:before {
  content: url(/img/arrow.png);
  position: absolute;
  left: -43px;
  top: var(--arrow-top, 0px);
}

.arrow-r:after {
  content: url(/img/arrow.png);
  position: absolute;
  right: -42px;
  top: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.flag-icon {
  width: 24px;
}



@media (max-width: 576px) {
  body {
    font-size: 14px !important;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.5em;
  }

  label {
    font-size: 1em;
  }

  .modal-dialog {
    max-width: 100% !important;
  }

  .contact-btn,
  .catalog-btn {
    padding: 0.625em;
  }

  .sqr-num {
    width: 60px;
    height: 60px;
  }
}